@import "../../globals";

.containerNotConnected {
  display: flex;
  justify-content: center;
  color: $colorContentPost;
  font-size: 1.5rem;
  padding-block: 5px;
  background: $backgroundNavbar;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  width: 42%;
  margin: 20px auto 0 auto;
  text-align: center;
  padding: 5px;
}


