@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');
@import "../../globals";

.containerButton {
  display: flex;
  justify-content: center;
  align-items: center;


  .containerList {
    display: flex;
    gap: 2rem;
    margin-right: 50px;

    .list {
      .link {
        height: 100%;
        font-family: 'Plus Jakarta Sans', sans-serif;
        color: $colorContentPost;
        border-radius: 20px;
        padding: 7px;
        border: 2px solid $backgroundGeneral;
        font-size: 1.25rem;
        font-weight: 400;
      }

    }
  }
}