@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');
@import "../../globals";

.containerNavbar {
  margin: 0;
  height: $navbarSize;
  display: flex;
  justify-content: center;
  align-content: center;
  background: $backgroundNavbar;
  border-bottom: 4px solid $colorContentPost;

  .slogan {
    cursor: pointer;
    margin-left: 50px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-right: auto;
    display: flex;
    align-items: center;
    text-align: center;
    color: $colorContentPost;
    padding: 7px;
    font-size: 2rem;
    font-weight: 400;
    height: 100%;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span:first-child {
      height: 100%;
      margin-right: 7px;
    }

    span:last-child {
      color: $colorContentPost;
      margin-left: 11px;
      height: 100%;
      font-size: 1.5rem;
    }
  }
}

@media only screen and (max-width: 765px) {
  .slogan {
    font-size: calc(3vmin + 3px) !important;
    margin-left: 5px !important;

    span:last-child {
      font-size: calc(3vmin) !important;
      margin-left: 3px !important;
    }
  }
}