$navbarSize: 75px;
$backgroundNavbar: #202122;
$backgroundGeneral: #4a4242;
$colorAdmin: #ffb4b4;
$colorContentPost: #cea2a2;
$colorBackForm: #202122;

input {
  -webkit-appearance: none;
  outline: none;
  box-shadow: none !important;
}

input[type="submit"] {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: $backgroundGeneral;
}

body {
  min-height: 100vh;
  padding-bottom: 50px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}