@import "../../globals";

.childComment {

  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  display: flex;
  background: $backgroundNavbar;
  word-break: break-all;
  padding: 10px;
  width: 42%;
  margin: 0 auto;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;

  .containerInfoUser {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

    .userInfo {
      display: flex;
      flex-direction: column;

      .usernameComment {
        color: white;
        font-size: 1.2rem;
      }

      .isAdmin {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: $colorAdmin;
      }
    }
  }

  .content {
    margin-top: 15px;
    color: $colorContentPost;
    font-size: 1.2rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-bottom: 7px;
  }


  .containerLike {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    width: 100%;
    font-size: 1.2rem;
    color: $colorContentPost;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 7px;

    & > * {
      cursor: pointer;
    }
  }
}