input {
  -webkit-appearance: none;
  outline: none;
  box-shadow: none !important;
}

input[type=submit] {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #4a4242;
}

body {
  padding-bottom: 50px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.containerSignUp {
  width: 100%;
  height: calc(100vh - 75px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerSignUp .backForm {
  width: 46%;
  height: 72%;
  -webkit-box-shadow: 9px 6px 9px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 9px 6px 9px -2px rgba(0, 0, 0, 0.25);
  background: #202122;
}
.containerSignUp .backForm .title {
  position: relative;
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #cea2a2;
  padding: 7px;
  font-size: 2.25rem;
  font-weight: 400;
  width: 100%;
}
.containerSignUp .backForm .title::before {
  content: "";
  position: absolute;
  width: 130px;
  height: 3px;
  background: #cea2a2;
  bottom: -7px;
}
.containerSignUp .backForm .middleForm {
  margin-top: 4.5rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 50%);
  place-items: center;
}
.containerSignUp .backForm .middleForm .two {
  margin-top: -30px;
  width: 100%;
}
.containerSignUp .backForm .middleForm .two > *:last-child {
  margin-top: 40px;
}
.containerSignUp .backForm .middleForm .two .parentInput {
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.containerSignUp .backForm .middleForm .two .parentInput .label {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
  color: #cea2a2;
  padding: 7px;
  font-size: 1.75rem;
  font-weight: 400;
}
.containerSignUp .backForm .middleForm .two .parentInput .input {
  padding-left: 5px;
  padding-bottom: 5px;
  color: #cea2a2;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  width: 74%;
  height: 22px;
  margin: 0 13%;
  background: #202122;
}
.containerSignUp .backForm .middleForm .parentSubmit {
  grid-column: 1/3;
  width: 100%;
  display: flex;
  justify-content: center;
}
.containerSignUp .backForm .middleForm .parentSubmit .container {
  margin-top: 50px;
}
.containerSignUp .backForm .middleForm .parentSubmit .container .error {
  position: absolute;
  margin: -25px auto 0;
  left: 0;
  right: 0;
  text-align: center;
  color: red;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.containerSignUp .backForm .middleForm .parentSubmit .container .submit {
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: center;
  color: #cea2a2;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 10px 0 13px 0;
  padding-block: 7px;
  padding-inline: 108.5px;
  background: #202122;
  border: 2px solid #4a4242;
  border-radius: 20px;
  width: 100%;
}
.containerSignUp .backForm .middleForm .parentSubmit .container .info {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #cea2a2;
  padding: 7px;
  font-size: 0.8rem;
  font-weight: 400;
  width: 100%;
}
.containerSignUp .backForm .middleForm .parentSubmit .container .info > * {
  margin-top: -16px;
}
.containerSignUp .backForm .middleForm .parentSubmit .container .info > * > * {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #cea2a2;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  font-weight: 900;
}

/*# sourceMappingURL=Signup.module.css.map */
